.search-container {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 2px 0 0 2px;
  outline: none;
}

.search-button {
  background-color: #ee4d2d;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}

.search-button svg {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .search-container {
    display: none;
  }
}
